<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PaintNotes App</title>
    <link rel="stylesheet" href="app.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>post<span>IT!</span></h1>
      <h2>leave your greetings</h2>
    </header>

    <section class="form">
      <input
        type="text"
        id="noteInput"
        placeholder="Insert your title here..."
      />
    </section>

    <!-- This canvas is used to check if the paint canvas is blank -->
    <canvas
      id="blankCanvas"
      width="500"
      height="300"
      style="display: none;"
    ></canvas>
    <!--  -->
    <script type="text/javascript" src="paint.js"></script>

    <ul class="list"></ul>

    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
